OPENAI_API_KEY=your_openai_key_here
OPENAI_MODEL=gpt-4.1-mini
GROQ_API_KEY=key
GROQ_API_KEY2=key2
GOOGLE_API_KEY=keyy
GEMINI_API_KEY=keyy
HF_API_TOKEN=keyy
EMBEDDING_PROVIDER=openai
HF_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
HF_DENSE_VECTOR_NAME=all-MiniLM-L6-v2
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_EMBEDDING_DIMENSIONS=1536
QDRANT_URL=http://qdrant:6333
QDRANT_COLLECTION=amazon-items-collection-02-openai-small
QDRANT_SPARSE_VECTOR_NAME=bm25
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=api
LANGSMITH_PROJECT="rag-tracing"
CO_API_KEY=keyy
